/* Allow the record button to align evenly with the audio preview. */
.form-audio-recorder-file audio {
  vertical-align: middle;
}

/* Hide the gain and pitch wrappers for simplicity. */
.vmsg-slider-wrapper {
  display: none;
}

/* Ensure that the recorder UI doesn't get hidden. */
.vmsg-backdrop {
  z-index: 1;
}
